<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Msg Data </title>
    <style>
        .debug{ color: gray}
        .info{ color : blue}
        .success { color : green}
        .error{ color : red}
        ul { list-style-type : none; padding :0 ;}
        li { margin : 5px 0;}
    </style>
</head>
<body>
    <h1>All messgae  data </h1>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li  class="{{ messages.tags }}">{{ message }}</li>
             {% endfor %}

         </ul>
    {% else %}
       <p> No Messages.</p>
    {% endif %}

</body>
</html>